//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 2000
//
//  File:       msiloc.rc
//
//--------------------------------------------------------------------------

#include <windows.h>
#include <ntverp.h>

#define VER_ORIGINALFILENAME_STR "msiloc.exe"
#define VER_FILETYPE             VFT_APP
#define VER_FILESUBTYPE          VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR  "Windows\256 Windows Installer Localization tool"
#define VER_INTERNALNAME_STR     "msiloc"

#include <common.ver>
